* {
    font-family: 'Inter', sans-serif;

}
body {
    margin: 0;
    background: #23252C;
    overflow: hidden;
}
#rose {
    height: 320px;
    width: 320px;
    object-fit: cover;                  /*crop fit*/
    object-position: top;               /*based of top most*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
}
#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
#Container {
    max-width: 320px;
    max-height: 780px;
    background: #1A1B21;
    border-radius: 5%;
}

h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 0px;
    margin: 20px 0 6px;
}
h4 {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
    margin: 0px;
}
h5{
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
    margin: 8px 0px 15px 0px;
}
h2 {
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin: 10px 0px 5px 0px;
    padding: 0px;
}

#btn {
    display: flex;
    justify-content: center;
    margin: 0px;
}
#btn > button {
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#profile-btn {
    margin: 0px 17px 0px 17px;
    background: #FFFFFF;
    font-size: 14px;
}

#linkedin-btn {
    margin: 0px 17px 0px 17px;
    background: #5093E2;
}
p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #DCDCDC;
    margin: 0px;
}

#main {
    margin: 36px 36px 26px 36px;
}

#social {
    height: 64px;
    background: #161619;
    display: flex;
    flex-direction: row;
    /* justify-content:space-evenly; */
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#social > img, #social > a {
    align-self: center;             /*prevent stretching of img*/
    margin: 24px;
}